* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

footer {
    background-color: #007acc;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
}

footer p {
    color: #fff;
}